.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 200px;
  width: 350px;
  height: 500px;
}

.disabled-button {
  background-color: #ccc !important;
  color: #666 !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  max-width: 600px;
}

.input-field {
  width: 95%;
  margin-bottom: 20px;
}
.currentPassword {
  width: 95%;
  padding-bottom: 35px;
}

button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
}

button[type="button"] {
  background-color: #f44336;
  color: #fff;
}

button + button {
  margin-top: 10px;
}
