<div class="form-container">
  <h2>Password Change</h2>
  <form #passwordChangeForm="ngForm" (ngSubmit)="submit()" novalidate>
    <div class="currentPassword">
    <mat-form-field class="input-field">
      <input matInput type="password" placeholder="Current Password" [(ngModel)]="currentPassword" name="currentPassword" required>
    </mat-form-field>
    </div>
    <mat-form-field class="input-field">
      <input matInput type="password" placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" required>
    </mat-form-field>
    <mat-form-field class="input-field">
      <input matInput type="password" placeholder="Confirm New Password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    </mat-form-field>
      
   
    <div class="buttons"> 
      <button mat-raised-button color="accent" type="submit" [disabled]="!passwordChangeForm.valid" [ngClass]="{'disabled-button': !passwordChangeForm.valid}">Change Password</button>
      <button mat-button mat-dialog-close color="warn">Cancel</button>
    </div>
    </form>
</div>
