<h2 mat-dialog-title>
	Promeni lozinku
</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
	<mat-dialog-content class="mat-typography size container">
		<mat-form-field class="full-width">
			<mat-label>
				Nova lozinka
			</mat-label>
			<input matInput type="password" placeholder="Nova lozinka" formControlName="newPassword" required>
			<mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
				Lozinka je obavezna.
			</mat-error>
			<mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('invalidPassword')">
				Lozinka mora sadržati najmanje 8 karaktera, jedno veliko slovo, jedno malo slovo i jedan
				broj i specijalan karakter.
			</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width">
			<mat-label>
				Potvrdi lozinku
			</mat-label>
			<input matInput type="password" placeholder="Potvrdi lozinku" formControlName="confirmPassword" required>
			<mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">
				Lozinka je obavezna.
			</mat-error>
			<mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('invalidPassword')">
				Lozinka mora sadržati najmanje 8 karaktera, jedno veliko slovo, jedno malo slovo i jedan
				broj i specijalan karakter.
			</mat-error>
		</mat-form-field>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-raised-button mat-dialog-close color="warn">
			Zatvori
		</button>
		<button mat-raised-button color="accent" type="submit" [disabled]="!changePasswordForm.valid">
			Promeni
		</button>
	</mat-dialog-actions>
</form>