.form-container {
    display: flex;
    justify-content: center; /* Horizontally center the form */
    align-items: center; /* Vertically center the form */
    flex-direction: column; /* Align items in a column */
    padding: 20px; /* Adjust as needed */
    border-radius: 200px; /* Round the corners more */
    width: 350px;
    height: 500px;
  }
  
  .disabled-button {
    background-color: #ccc !important; 
    color: #666 !important; 
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Padding inside the form */
    border: 2px solid #ccc;
    border-radius: 10px; /* Keep the border radius for the form */
    max-width: 600px; /* Adjust the width as needed */
  }

  .input-field {
    width: 95%;
    margin-bottom: 20px;
  }
  .currentPassword{
    width: 95%;
    padding-bottom: 35px;
  }

  
  button {
    width: 100%;
    padding: 10px 20px; /* Add padding */
    font-size: 16px; /* Keep font size unchanged */
  }
  

  button[type="button"] {
    background-color: #f44336; /* Secondary color */
    color: #fff; /* Text color */
  }
  
  /* Optional: Add some spacing between buttons */
  button + button {
    margin-top: 10px;
  }
  