<h2>Password Change</h2>
<form (ngSubmit)="submit()">
  <!-- <mat-form-field>
    <input matInput type="password" placeholder="Current Password" [(ngModel)]="currentPassword" name="currentPassword" required>
  </mat-form-field> -->
  <mat-form-field>
    <input matInput type="password" placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Confirm New Password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
  </mat-form-field>
  <button mat-button color="primary" type="submit" [disabled]="!formValid()">Change Password</button>
  <button mat-button mat-dialog-close color="warn">Cancel</button>
</form>