<h2 mat-dialog-title>Dodaj agenta</h2>
<mat-dialog-content class="mat-typography size">
	<form
		[formGroup]="createAgentForm"
		(ngSubmit)="addAgent()"
	>
		<div>
			<mat-form-field class="full-width">
				<mat-label>Email</mat-label>
				<input
					matInput
					placeholder="Unesite email adresu"
					formControlName="email"
					type="email"
					name="email"
				/>
				<mat-error
					*ngIf="createAgentForm.get('email')?.hasError('required')"
				>
					Email je obavezan.
				</mat-error>
				<mat-error
					*ngIf="
						createAgentForm.get('email')?.hasError('invalidEmail')
					"
				>
					Pogrešan format email-a.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>Datum rođenja</mat-label>
				<input
					matInput
					placeholder="Izaberite datum rođenja"
					formControlName="dateOfBirth"
					[matDatepicker]="picker"
					name="dateOfBirth"
					readonly
				/>
				<mat-datepicker-toggle
					matSuffix
					[for]="picker"
				></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
				<mat-error
					*ngIf="
						createAgentForm.get('dateOfBirth')?.hasError('required')
					"
				>
					Datum rođenja je obavezan.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>Broj telefona</mat-label>
				<input
					matInput
					placeholder="Unesite broj telefona"
					formControlName="phone"
					name="phone"
				/>
				<mat-error
					*ngIf="
						createAgentForm
							.get('phone')
							?.hasError('invalidPhoneNumber')
					"
				>
					Unesite validan broj telefona.
				</mat-error>
				<mat-error
					*ngIf="createAgentForm.get('phone')?.hasError('required')"
				>
					Broj telefona je obavezan.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>Adresa</mat-label>
				<input
					matInput
					placeholder="Unesite adresu"
					formControlName="address"
					name="address"
				/>
				<mat-error
					*ngIf="createAgentForm.get('address')?.hasError('required')"
				>
					Adresa je obavezna.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>Limit</mat-label>
				<input
					matInput
					placeholder="Unesite limit agenta"
					formControlName="userLimit"
					name="userLimit"
					required
				/>
				<mat-error
					*ngIf="
						createAgentForm.get('userLimit')?.hasError('required')
					"
				>
					Limit je obavezan.
				</mat-error>
				<mat-error
					*ngIf="
						createAgentForm
							.get('limit')
							?.hasError('containsNonDigits')
					"
				>
					Pogrešan format limita - podržane su samo cifre.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>Neiskorišćeni limit</mat-label>
				<input
					matInput
					placeholder="Unesite neiskorišćeni limit agenta"
					formControlName="leftOfLimit"
					name="leftOfLimit"
					required
				/>
				<mat-error
					*ngIf="
						createAgentForm.get('leftOfLimit')?.hasError('required')
					"
				>
					Neiskorišćeni limit je obavezan.
				</mat-error>
				<mat-error
					*ngIf="
						createAgentForm
							.get('leftOfLimit')
							?.hasError('containsNonDigits')
					"
				>
					Pogrešan format neiskorišćenog limita - podržane su samo
					cifre.
				</mat-error>
			</mat-form-field>

			<!-- <mat-form-field class="full-width">
				<mat-label>Dozvole</mat-label>
				<mat-select
					formControlName="permissions"
					multiple="true"
				>
					<mat-option
						*ngFor="let permission of availablePermissions"
						[value]="permission"
					>
						{{ permission }}
					</mat-option>
				</mat-select>
			</mat-form-field> -->
		</div>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button
		data-test="dodaj-button"
		mat-raised-button
		mat-dialog-close
		color="accent"
		cdkFocusInitial
		(click)="addAgent()"
		[disabled]="!createAgentForm.valid"
	>
		Dodaj
	</button>
	<button
		mat-raised-button
		mat-dialog-close
		color="warn"
	>
		Zatvori
	</button>
</mat-dialog-actions>
