<form #forgotPasswordForm="ngForm" (ngSubmit)="submit()" class="forgot-password-form">
	<mat-dialog-content>
		<h1>
			Resetujte lozinku
		</h1>
		<div class="centered-content">
			<mat-form-field>
				<input matInput type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
			</mat-form-field>
			<p class="description-text">
				Unesite email povezan sa vašim nalogom. Poslaćemo vam uputstva za resetovanje lozinke; proverite i spam
				folder ako poruka ne stigne u roku od nekoliko minuta.
			</p>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions align="center">
		<!-- Disable the submit button if email doesn't contain "@" -->
		<button mat-raised-button color="accent" type="submit">
			Resetuj
		</button>
	</mat-dialog-actions>
</form>