<h2 mat-dialog-title>Izmeni korisnika</h2>
<mat-dialog-content class="mat-typography">
    <form>
        <div>
            <mat-form-field class="full-width">
                <mat-label>Datum rođenja</mat-label>
                <input matInput [(ngModel)]="this.newSelectedRow.dateOfBirth" [matDatepicker]="picker"
                    name="dateOfBirth">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Broj telefona</mat-label>
                <input matInput [(ngModel)]="this.newSelectedRow.phone" name="phone" appPhoneNumberValidator
                    #phoneInput="ngModel">
                <mat-error *ngIf="phoneInput.errors && phoneInput.touched">
                    Unesite validan broj telefona.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Adresa</mat-label>
                <input matInput [(ngModel)]="this.newSelectedRow.address" name="address">
            </mat-form-field>
        </div>

        <div *ngIf="checkDto() == 'PRIVATE' || checkDto() == 'CORPORATE' || checkDto() == 'EMPLOYEE'">
            <mat-form-field class="full-width">
                <mat-label>Ime</mat-label>
                <input matInput [(ngModel)]="this.newSelectedRow.name" name="name">
            </mat-form-field>
        </div>

        <div *ngIf="checkDto() == 'PRIVATE' || checkDto() == 'EMPLOYEE'">
            <mat-form-field class="full-width">
                <mat-label>Prezime</mat-label>
                <input matInput [(ngModel)]="this.newSelectedRow.surname" name="surname">
            </mat-form-field>

            <mat-form-field class="full-width" *ngIf="this.newSelectedRow instanceof PrivateClientDto">
                <mat-label>Pol</mat-label>
                <mat-select [(ngModel)]="this.newSelectedRow.gender" name="gender">
                    <mat-option value="M">M</mat-option>
                    <mat-option value="Ž">Ž</mat-option>
                    <mat-option value="D">D</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="checkDto() == 'EMPLOYEE'">
            <mat-form-field class="full-width">
                <mat-label>Pozicija</mat-label>
                <input matInput [(ngModel)]="this.newSelectedRow.position" name="position">
            </mat-form-field>

            <mat-form-field class="full-width" *ngIf="this.newSelectedRow instanceof PrivateClientDto">
                <mat-label>Odeljenje</mat-label>
                <input matInput [(ngModel)]="this.newSelectedRow.department" name="department">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Zatvori</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="updateUser()"
        [disabled]="phoneInput.errors && phoneInput.touched">Izmeni</button>
</mat-dialog-actions>