<div class="container">
	<form class="example-form">
		<mat-form-field class="example-full-width">
			<mat-label>
				$
			</mat-label>
			<input matInput>
		</mat-form-field>
	</form>
</div>

<div class="container">
	<p class="currency">
		Iz valute:
	</p>
	<mat-form-field class="fromCurrency">
		<select matNativeControl required>
			<option value="hkd">HKD</option>
			<option value="usd">USD</option>
			<option value="aud">AUD</option>
			<option value="eur">EUR</option>
			<option value="sgd">SGD</option>
			<option value="chf">CHF</option>
			<option value="cad">CAD</option>
			<option value="gbp">GBP</option>
			<option value="nzd">NZD</option>
			<option value="xag">XAG</option>
			<option value="try">TRY</option>
			<option value="corn">CORN</option>
			<option value="xau">XAU</option>
			<option value="zar">ZAR</option>
			<option value="sugar">SUGAR</option>
			<option value="ltc">LTC</option>
			<option value="eth">ETH</option>
			<option value="btc">BTC</option>
			<option value="bch">BCH</option>
			<option value="xrp">XRP</option>
			<option value="nok">NOK</option>
			<option value="cnh">CNH</option>
			<option value="sek">SEK</option>
		</select>
	</mat-form-field>
</div>

<div class="container">
	<p class="currency">
		U valutu:
	</p>
	<mat-form-field class="toCurrency">
		<select matNativeControl required>
			<option value="hkd">HKD</option>
			<option value="usd">USD</option>
			<option value="aud">AUD</option>
			<option value="eur">EUR</option>
			<option value="sgd">SGD</option>
			<option value="chf">CHF</option>
			<option value="cad">CAD</option>
			<option value="gbp">GBP</option>
			<option value="nzd">NZD</option>
			<option value="xag">XAG</option>
			<option value="try">TRY</option>
			<option value="corn">CORN</option>
			<option value="xau">XAU</option>
			<option value="zar">ZAR</option>
			<option value="sugar">SUGAR</option>
			<option value="ltc">LTC</option>
			<option value="eth">ETH</option>
			<option value="btc">BTC</option>
			<option value="bch">BCH</option>
			<option value="xrp">XRP</option>
			<option value="nok">NOK</option>
			<option value="cnh">CNH</option>
			<option value="sek">SEK</option>
		</select>
	</mat-form-field>
</div>

<!--<div class="convertButton">-->
<!--	<button mat-raised-button color="accent" class="buttons" (click)="convert()">-->
<!--		Konvertuj-->
<!--	</button>-->
<!--</div>-->

<div class="tableContainer">
	<div class="table">
		<table mat-table [dataSource]="currencyDataSource" class="tableData mat-elevation-z8">

			<ng-container matColumnDef="currencyName">
				<th mat-header-cell *matHeaderCellDef>
					Naziv
				</th>
				<td mat-cell *matCellDef="let element">
					{{ element.currencyName }}
				</td>
			</ng-container>

			<ng-container matColumnDef="currencyCode">
				<th mat-header-cell *matHeaderCellDef>
					Šifra
				</th>
				<td mat-cell *matCellDef="let element">
					{{ element.currencyCode }}
				</td>
			</ng-container>

			<ng-container matColumnDef="currencySymbol">
				<th mat-header-cell *matHeaderCellDef>
					Simbol
				</th>
				<td mat-cell *matCellDef="let element">
					{{ element.currencySymbol }}
				</td>
			</ng-container>

			<ng-container matColumnDef="currencyPolity">
				<th mat-header-cell *matHeaderCellDef>

					<!-- Promeniti naziv? -->

					Politički entitet
				</th>
				<td mat-cell *matCellDef="let element">
					{{ element.currencyPolity }}
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="currencyDisplayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: currencyDisplayedColumns;"></tr>

		</table>
		<div class="paginatorContainer">
			<mat-paginator #CurrencyMatPaginator [hidePageSize]="true" [pageSize]="10"></mat-paginator>
		</div>

	</div>

	<div class="table">
		<table mat-table [dataSource]="exchangeDataSource" class="tableData mat-elevation-z8">

			<ng-container matColumnDef="exchangeName">
				<th mat-header-cell *matHeaderCellDef>
					Naziv
				</th>
				<td mat-cell *matCellDef="let element">
					{{ element.exchangeName }}
				</td>
			</ng-container>

			<ng-container matColumnDef="exchangeAcronym">
				<th mat-header-cell *matHeaderCellDef>
					Akronim
				</th>
				<td mat-cell *matCellDef="let element">
					{{ element.exchangeAcronym }}
				</td>
			</ng-container>

			<ng-container matColumnDef="exchangeMICode">
				<th mat-header-cell *matHeaderCellDef>
					MIC kod
				</th>
				<td mat-cell *matCellDef="let element">
					{{ element.exchangeMICode }}
				</td>
			</ng-container>

			<ng-container matColumnDef="polity">
				<th mat-header-cell *matHeaderCellDef>

					<!-- Promeniti naziv? -->

					Politički entitet
				</th>
				<td mat-cell *matCellDef="let element">
					{{ element.polity }}
				</td>
			</ng-container>

			<ng-container matColumnDef="currency">
				<th mat-header-cell *matHeaderCellDef>
					Valuta
				</th>
				<td mat-cell *matCellDef="let element">
					{{ element.currency }}
				</td>
			</ng-container>

			<ng-container matColumnDef="timeZone">
				<th mat-header-cell *matHeaderCellDef>
					Vremenska zona
				</th>
				<td mat-cell *matCellDef="let element">

					<!-- Nisam siguran da se odnosi na ovo -->

					{{ 'UTC ' + (element.timeZone > 0 ? '+ ' + element.timeZone  : '- ' + element.timeZone*(-1) ) }}
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="exchangeDisplayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: exchangeDisplayedColumns;"></tr>

		</table>
		<div class="paginatorContainer">
			<mat-paginator #ExchangeMatPaginator [hidePageSize]="true" [pageSize]="10"></mat-paginator>
		</div>

	</div>
</div>

