<section class="container">
  <form class="form-inputs" [formGroup]="foreignBankAccountForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Broj računa</mat-label>
      <input matInput placeholder="Broj računa" formControlName="accountNumber" required>
      <mat-error *ngIf="foreignBankAccountForm.get('accountNumber')?.hasError('required')">Broj računa je obavezan</mat-error>
      <mat-error *ngIf="foreignBankAccountForm.get('accountNumber')?.hasError('invalidBankAccountNumber')">Pogrešan format računa</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="john@example.com" formControlName="email" required>
      <mat-error *ngIf="foreignBankAccountForm.get('email')?.hasError('required')">Email je obavezan</mat-error>
      <mat-error *ngIf="foreignBankAccountForm.get('email')?.hasError('invalidEmail')">Pogrešan format Email-a</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Valuta</mat-label>
      <mat-select formControlName="currencyCode" placeholder="Izaberite valutu">
        <mat-option *ngFor="let option of currencyOptions" [value]="option.value">{{ option.label }}</mat-option>
      </mat-select>
      <mat-error *ngIf="foreignBankAccountForm.get('currencyCode')?.hasError('required')">Valuta je obavezna</mat-error>
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button color="accent" type="submit">Kreiraj</button>
    </div>
  </form>
</section>
