<section class="container">
	<mat-card>
		<mat-card-header>
			<mat-card-title> Transakcije </mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="form-inputs">
				<mat-tab-group>
					<mat-tab
						*ngFor="let option of transactionsTypeOptions"
						[label]="option.label"
					>
						<div class="tab-content">
							<app-internal-form
								*ngIf="option.value === 'INTERNE'"
							>
							</app-internal-form>
							<app-external-form
								*ngIf="option.value === 'EKSTERNE'"
							>
							</app-external-form>
						</div>
					</mat-tab>
				</mat-tab-group>
			</div>
		</mat-card-content>
	</mat-card>
</section>
