<section class="container">
	<mat-card>
	  <mat-card-header>
		<div class="form">
		  <mat-form-field>
			<mat-label>Broj računa za uplatu</mat-label>
			<mat-select
			  [formControl]="senderAccountNumber"
			  placeholder="Izaberite račun"
			  (selectionChange)="applyFilter($event)"
			>
			  <mat-option
				*ngFor="let option of accounts"
				[value]="option.accountNumber"
			  >
				{{ option.accountNumber | accountNumberFormat }}
			  </mat-option>
			</mat-select>
		  </mat-form-field>
		</div>
	  </mat-card-header>
  
	  <mat-card-content>
		<div class="tableContainer">
		  <div class="mat-elevation-z8" style="box-shadow: none">
			<table class="unselectable" mat-table [dataSource]="dataSource" matSort>
			  <ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
				<td mat-cell *matCellDef="let row">{{ row.id }}</td>
			  </ng-container>
  
			  <ng-container matColumnDef="email">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
				<td mat-cell *matCellDef="let row">{{ row.email }}</td>
			  </ng-container>
  
			  <ng-container matColumnDef="ownedByBank">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>ownedByBank</th>
				<td mat-cell *matCellDef="let row">{{ row.ownedByBank }}</td>
			  </ng-container>
  
			  <ng-container matColumnDef="accountNumber">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>accountNumber</th>
				<td mat-cell *matCellDef="let row">{{ row.accountNumber }}</td>
			  </ng-container>
  
			  <ng-container matColumnDef="securitiesSymbol">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>securitiesSymbol</th>
				<td mat-cell *matCellDef="let row">{{ row.securitiesSymbol }}</td>
			  </ng-container>
  
			  <ng-container matColumnDef="quantity">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>quantity</th>
				<td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
			  </ng-container>
  
			  <ng-container matColumnDef="quantityOfPubliclyAvailable">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>quantityOfPubliclyAvailable</th>
				<td mat-cell *matCellDef="let row">{{ row.quantityOfPubliclyAvailable }}</td>
			  </ng-container>
  
			  <ng-container matColumnDef="reservedQuantity">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>reservedQuantity</th>
				<td mat-cell *matCellDef="let row">{{ row.reservedQuantity }}</td>
			  </ng-container>
  
			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectRow(row)" (dblclick)="viewSecurity(row)" [class.row-selected]="selectedRow?.securitiesSymbol === row.securitiesSymbol"></tr>
  
			  <tr *matNoDataRow class="mat-row">
				<td class="mat-cell" colspan="4">Nije pronađen podatak za unetu vrednost.</td>
			  </tr>
			</table>
		  </div>
		</div>
		<div id="paginatorContainer">
		  <mat-paginator [hidePageSize]="true" [pageSize]="10"></mat-paginator>
		</div>
	  </mat-card-content>
	</mat-card>
  </section>
  