.container {
	place-items: center;
}

.form-container {
	display: flex;
	width: 100%;
}

.form {
	flex: 1;
	gap: 32px;
	margin-right: 10px;
}

.full-width {
	width: 100%; /* Ensure the search fields stretch to full width */
}

.form:first-child {
	margin-right: 32px; /* Add a gap of 32px between the search fields */
}

.example-form {
	min-width: 150px;
	margin-left: 95px;
}

.currency {
	margin-right: 20px;
	font-size: 18px;
}

.table {
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.convertButton {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.paginatorContainer {
	display: block;
	flex-direction: column;
	align-self: end;
	width: 100%;
}

.tableContainer {
	display: flex;
	gap: 32px;
	margin-bottom: 32px;
}

.mat-header-cell {
	text-align: center;
}

.mat-mdc-row .mat-mdc-cell {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
	background-color: #f5f5f5;
}

.row-selected .mat-mdc-cell {
	border-color: currentColor;
	background-color: transparent;
}

.unselectable {
	user-select: none;
}
