<section class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <a mat-button routerLink="/" class="home-link">
          <div class="title">
            <h1>BANKA</h1>
            <img ngSrc="../../../assets/logo/banka-2-logo-no-bg.svg" alt="Icon" height="64" width="64">
          </div>
        </a>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="currentStep === 1">
        <h2>1. Korisnički račun</h2>
        <form [formGroup]="basicInfoForm">
          <mat-form-field appearance="fill">
            <mat-label>Broj računa/kartice/kredita</mat-label>
            <input matInput placeholder="Unesite broj računa" formControlName="accountNumber" appBankAccountMask
              required />
            <mat-error *ngIf="basicInfoForm.controls.accountNumber.invalid">Unesite validan broj računa.</mat-error>
          </mat-form-field>

          <div class="buttons">
            <button mat-raised-button color="accent" (click)="goToNextStep()"
              [disabled]="!basicInfoForm.valid">Nastavi</button>
          </div>
        </form>
      </div>

      <div *ngIf="currentStep === 2">
        <h2>2. Osnovni podaci</h2>
        <form [formGroup]="contactInfoForm">
          <mat-form-field appearance="fill">
            <mat-label>Broj mobilnog telefona</mat-label>
            <input matInput placeholder="Unesite broj telefona" formControlName="phoneNumber" required />
            <mat-error *ngIf="contactInfoForm.get('phoneNumber')?.hasError('invalidPhoneNumber')">Unesite validan broj
              telefona.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" placeholder="Unesite e-mail adresu" formControlName="email" required />
            <mat-error *ngIf="contactInfoForm.controls.email.invalid">Unesite validan e-mail.</mat-error>
          </mat-form-field>

          <div class="buttons">
            <button mat-raised-button (click)="goToPreviousStep()">Nazad</button>
            <button mat-raised-button color="accent" (click)="goToNextStep()"
              [disabled]="!contactInfoForm.valid">Nastavi</button>
          </div>
        </form>
      </div>

      <div *ngIf="currentStep === 3">
        <h2>3. Unos aktivacionog koda</h2>
        <form [formGroup]="activationCodeForm">
          <p>Klikom na dugme aktivacioni kod Vam se šalje na email.</p>
          <div class="buttons">
            <button mat-raised-button color="warn">Generiši aktivacioni kod</button>
          </div>

          <mat-form-field appearance="fill">
            <mat-label>Aktivacioni kod</mat-label>
            <input matInput placeholder="Unesite aktivacioni kod" formControlName="activationCode" required />
            <mat-error *ngIf="activationCodeForm.controls.activationCode.invalid">Unesite validan aktivacioni
              kod.</mat-error>
          </mat-form-field>

          <div class="buttons">
            <button mat-raised-button (click)="goToPreviousStep()">Nazad</button>
            <button mat-raised-button color="accent" (click)="goToNextStep()"
              [disabled]="!activationCodeForm.valid">Nastavi</button>
          </div>
        </form>
      </div>

      <div *ngIf="currentStep === 4">
        <h2>4. Napravite lozinku</h2>
        <form>
          <mat-form-field appearance="fill">
            <mat-label>Lozinka</mat-label>
            <input matInput type="password" placeholder="Napravite lozinku" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Ponovi lozinku</mat-label>
            <input matInput type="password" placeholder="Ponovite lozinku" required />
          </mat-form-field>

          <div class="buttons">
            <button mat-raised-button (click)="goToPreviousStep()">Nazad</button>
            <button mat-raised-button color="accent" routerLink="/login">Kreiraj profil</button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</section>