<section class="container">
	<mat-card>
		<mat-card-header>
			<div class="form">
				<div>
					<mat-form-field>
						<mat-label>
							Pretraži agente
						</mat-label>
						<input #input (keyup)="applyFilter($event)" matInput />
					</mat-form-field>
				</div>

				<button mat-raised-button class="buttons" color="accent" (click)="resetLeftOfLimit()"
					[disabled]="!selectedRow || resetLeftOfLimitDisabled()">
					Resetuj iskorišćen limit
				</button>
			</div>
		</mat-card-header>
		<mat-card-content>
			<div class="tableContainer">
				<div class="mat-elevation-z8" style="box-shadow: none">
					<table class="unselectable" mat-table [dataSource]="dataSource" matSort>
						<ng-container matColumnDef="id">
							<th *matHeaderCellDef mat-header-cell mat-sort-header>
								ID
							</th>
							<td *matCellDef="let row" mat-cell>
								{{ row.id ? row.id : "-" }}
							</td>
						</ng-container>

						<ng-container matColumnDef="email">
							<th *matHeaderCellDef mat-header-cell mat-sort-header>
								Email
							</th>
							<td *matCellDef="let row" mat-cell>
								{{ row.email ? row.email : "-" }}
							</td>
						</ng-container>

						<ng-container matColumnDef="dateOfBirth">
							<th *matHeaderCellDef mat-header-cell mat-sort-header>
								Datum rođenja
							</th>
							<td *matCellDef="let row" mat-cell>
								{{
								row.dateOfBirth
								? (row.dateOfBirth | epochToDate | date : "dd.MM.yyyy.")
								: "-"
								}}
							</td>
						</ng-container>

						<ng-container matColumnDef="phone">
							<th *matHeaderCellDef mat-header-cell mat-sort-header>
								Broj telefona
							</th>
							<td *matCellDef="let row" mat-cell>
								{{ row.phone ? row.phone : "-" }}
							</td>
						</ng-container>

						<ng-container matColumnDef="address">
							<th *matHeaderCellDef mat-header-cell mat-sort-header>
								Adresa
							</th>
							<td *matCellDef="let row" mat-cell>
								{{ row.address ? row.address : "-" }}
							</td>
						</ng-container>

						<ng-container matColumnDef="role">
							<th *matHeaderCellDef mat-header-cell mat-sort-header>
								Uloga
							</th>
							<td *matCellDef="let row" mat-cell>
								{{ row.role ? row.role : "-" }}
							</td>
						</ng-container>

						<ng-container matColumnDef="limit">
							<th *matHeaderCellDef mat-header-cell mat-sort-header>
								Limit
							</th>
							<td *matCellDef="let row" mat-cell>
								{{ row.limit ? row.limit : "-" }}
							</td>
						</ng-container>

						<ng-container matColumnDef="leftOfLimit">
							<th *matHeaderCellDef mat-header-cell mat-sort-header>
								Iskorišćen limit
							</th>
							<td *matCellDef="let row" mat-cell>
								{{ row.leftOfLimit ? row.leftOfLimit : "-" }}
							</td>
						</ng-container>

						<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
						<tr mat-row (click)="selectRow(row)" (dblclick)="viewUser(row)"
							[class.row-selected]="selectedRow?.id === row.id"
							*matRowDef="let row; columns: displayedColumns">
						</tr>

						<tr *matNoDataRow class="mat-row">
							<td class="mat-cell" colspan="4">
								Nije pronađen podatak za unetu vrednost: "{{ input.value }}"
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div id="paginatorContainer">
				<mat-paginator [hidePageSize]="true" [pageSize]="10"></mat-paginator>
			</div>
		</mat-card-content>
	</mat-card>
</section>