<section class="container">
	<mat-card>
		<mat-card-header>
			<h2>Dobrodošli, {{ activeEmail }}!</h2>
		</mat-card-header>
	</mat-card>

	<mat-card>
		<mat-card-header>
			<h2>Pregled računa </h2>
			<h2
				*ngIf="
					checkTokenRole([
						Role.ADMIN,
						Role.EMPLOYEE,
						Role.SUPERVISOR,
						Role.AGENT
					])
				"
			>
				banke
			</h2>
		</mat-card-header>
		<mat-card-content>
			<button
				class="redirect-button"
				mat-raised-button
				(click)="redirectToMoneyTransactionsAll()"
			>
				Lista novčanih transakcija
			</button>

			<button
				class="redirect-button"
				mat-raised-button
				(click)="redirectToOrderTransactionsAll()"
			>
				Lista narudžbenskih transakcija
			</button>

			<div class="tableContainer">
				<div
					class="mat-elevation-z8"
					style="box-shadow: none"
				>
					<table
						class="unselectable"
						mat-table
						[dataSource]="accountNumberDataSource"
						matSort
					>
						<ng-container matColumnDef="accountType">
							<th
								*matHeaderCellDef
								mat-header-cell
								mat-sort-header
							>
								Tip
							</th>
							<td
								*matCellDef="let row"
								mat-cell
							>
								{{ row.accountType | translate }}
							</td>
						</ng-container>

						<ng-container matColumnDef="accountNumber">
							<th
								*matHeaderCellDef
								mat-header-cell
								mat-sort-header
							>
								Broj računa
							</th>
							<td
								*matCellDef="let row"
								mat-cell
							>
								{{
									row.accountNumber ? row.accountNumber : '-'
								}}
							</td>
						</ng-container>

						<ng-container matColumnDef="currencyCode">
							<th
								*matHeaderCellDef
								mat-header-cell
								mat-sort-header
							>
								Valuta
							</th>
							<td
								*matCellDef="let row"
								mat-cell
							>
								{{ row.currencyCode ? row.currencyCode : '-' }}
							</td>
						</ng-container>

						<ng-container matColumnDef="availableBalance">
							<th
								*matHeaderCellDef
								mat-header-cell
								mat-sort-header
							>
								Dostupno stanje
							</th>
							<td
								*matCellDef="let row"
								mat-cell
							>
								{{
									row.availableBalance
										? row.availableBalance
										: '-'
								}}
							</td>
						</ng-container>

						<ng-container matColumnDef="reservedFunds">
							<th
								*matHeaderCellDef
								mat-header-cell
								mat-sort-header
							>
								Rezervisano stanje
							</th>
							<td
								*matCellDef="let row"
								mat-cell
							>
								{{
									row.reservedFunds ? row.reservedFunds : '-'
								}}
							</td>
						</ng-container>

						<tr
							*matHeaderRowDef="displayedAccountColumns"
							mat-header-row
						></tr>
						<tr
							mat-row
							*matRowDef="
								let row;
								columns: displayedAccountColumns
							"
						></tr>

						<tr
							*matNoDataRow
							class="mat-row"
						>
							<td
								class="mat-cell"
								colspan="4"
							>
								Nije pronađen podatak
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="paginatorContainer">
				<mat-paginator
					[hidePageSize]="true"
					[pageSize]="10"
				></mat-paginator>
			</div>
		</mat-card-content>
	</mat-card>
</section>
