body {
    background-image: url('/assets/home.jpg'); /* Adjust the image path */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Ensure the body takes up the entire viewport height */
    overflow: hidden; /* Prevent scrolling if necessary */
    position: relative; /* Ensure z-index works as expected */
}

app-navigation-menu {
    position: relative; /* Ensure z-index works as expected */
    z-index: 1; /* Place the toolbar above the blurred background */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1); /* Adjust the background color and opacity as needed */
    backdrop-filter: blur(2px); /* Adjust blur amount as needed */
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px; /* Adjusted font size */
    color: black; /* Adjust text color */
}
