.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 128px);
}

mat-card-content {
	display: flex;
	flex-direction: column;
	width: 97%;
}

.form-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.form-inputs {
	display: flex;
	flex-direction: column;
	width: 30vw;
}

.form-inputs-row {
	display: flex;
	justify-content: space-around;
}

.tab-content {
	overflow: hidden;
	height: fit-content;
}

.buttons {
	display: flex;
	flex-direction: column;
	width: 100%;
}
