<h2 mat-dialog-title>
	Dodaj agenta
</h2>
<mat-dialog-content class="mat-typography size">
	<form>
		<div>
			<mat-form-field class="full-width">
				<mat-label>
					Email
				</mat-label>
				<input matInput [(ngModel)]="email" type="email" name="email" appEmailValidator #emailInput="ngModel" />
				<mat-error *ngIf="emailInput.errors && emailInput.touched">
					Unesite validnu email adresu.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>
					Datum rođenja
				</mat-label>
				<input matInput [(ngModel)]="this.dateOfBirth" [matDatepicker]="picker" name="dateOfBirth"
					placeholder="Izaberi datum">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>
					Broj telefona
				</mat-label>
				<input matInput [(ngModel)]="this.phone" name="phone" appPhoneNumberValidator #phoneInput="ngModel">
				<mat-error *ngIf="phoneInput.errors && phoneInput.touched">
					Unesite validan broj telefona.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>
					Adresa
				</mat-label>
				<input matInput [(ngModel)]="address" name="address">
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>
					Limit
				</mat-label>
				<input matInput [(ngModel)]="limit" name="limit" type="number">
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>
					Ostatak limita
				</mat-label>
				<input matInput [(ngModel)]="leftOfLimit" name="leftOfLimit" type="number">
			</mat-form-field>

			<div *ngFor="let permission of availablePermissions">
				<mat-checkbox class="full-width" [(ngModel)]="permissions" [value]="permission" name="permissions">
					{{ permission }}
				</mat-checkbox>
			</div>
		</div>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-raised-button mat-dialog-close color="accent" cdkFocusInitial (click)="addAgent()">
		Dodaj
	</button>
	<button mat-raised-button mat-dialog-close color="warn">
		Zatvori
	</button>
</mat-dialog-actions>