section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 90%;
  margin-top: 40px;
  /*margin-bottom: 50px;*/
  background: #3060EC;
  border-radius: 3px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.optionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 97%;
  height: fit-content;
  padding-left: 20px;
  padding-top: 20px;
}

.formContainer {
  display: flex;
  flex-direction: row;
  height: inherit;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  height: inherit;
  padding-top: 10px;
  padding-left: 510px;
}

.tableContainer {
  display: grid;
  height: 100%;
  width: 100%;
  min-height: 576px;
  background: #eee;
}

.textContainer {
  color: #fff;
  letter-spacing: 2px;
}


.botContainer {
  display: flex;
  flex-direction: row;
}

.form {
  height: fit-content;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

#paginatorContainer {
  display: block;
  flex-direction: column;
  align-self: end;
  width: 100%;
}
