<h2 mat-dialog-title>
	Izmeni korisnika
</h2>
<mat-dialog-content class="mat-typography size">
	<form>
		<div>
			<mat-form-field class="full-width">
				<mat-label>
					Datum rođenja
				</mat-label>
				<input matInput [(ngModel)]="newSelectedRow.dateOfBirth" [matDatepicker]="picker" name="dateOfBirth"
					placeholder="Izaberi datum">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>
					Broj telefona
				</mat-label>
				<input matInput [(ngModel)]="newSelectedRow.phone" name="phone" appPhoneNumberValidator
					#phoneInput="ngModel">
				<mat-error *ngIf="phoneInput.errors && phoneInput.touched">
					Unesite validan broj telefona.
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>
					Adresa
				</mat-label>
				<input matInput [(ngModel)]="newSelectedRow.address" name="address">
			</mat-form-field>
		</div>

		<div *ngIf="checkDto() == 'PRIVATE' || checkDto() == 'CORPORATE' || checkDto() == 'EMPLOYEE'">
			<mat-form-field class="full-width">
				<mat-label>
					Ime
				</mat-label>
				<input matInput [(ngModel)]="newSelectedRow.name" name="name">
			</mat-form-field>
		</div>

		<div *ngIf="checkDto() == 'PRIVATE' || checkDto() == 'EMPLOYEE'">
			<mat-form-field class="full-width">
				<mat-label>
					Prezime
				</mat-label>
				<input matInput [(ngModel)]="newSelectedRow.surname" name="surname">
			</mat-form-field>

			<mat-form-field class="full-width" *ngIf="newSelectedRow instanceof PrivateClientDto">
				<mat-label>
					Pol
				</mat-label>
				<mat-select [(ngModel)]="newSelectedRow.gender" name="gender">
					<mat-option value="M">
						Muški
					</mat-option>
					<mat-option value="Ž">
						Ženski
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div *ngIf="checkDto() == 'EMPLOYEE'">
			<mat-form-field class="full-width">
				<mat-label>
					Pozicija
				</mat-label>
				<input matInput [(ngModel)]="newSelectedRow.position" name="position">
			</mat-form-field>

			<mat-form-field class="full-width" *ngIf="newSelectedRow instanceof PrivateClientDto">
				<mat-label>
					Odeljenje
				</mat-label>
				<input matInput [(ngModel)]="newSelectedRow.department" name="department">
			</mat-form-field>
		</div>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-raised-button mat-dialog-close color="accent" cdkFocusInitial (click)="updateUser()"
		[disabled]="phoneInput.errors && phoneInput.touched">
		Izmeni
	</button>
	<button mat-raised-button mat-dialog-close color="warn">
		Zatvori
	</button>
</mat-dialog-actions>