<section class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <div class="title">
          <h2>
            💰 Vaše hartije od vrednosti 💰
          </h2>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>Kao što se u tržnici trguje voćem i povrćem, na buvljoj pijaci polovnom robom, tako se na tržištima kapitala trguje – kapitalom. I to finansijskim.

Najpopularnija „roba“ na tržištu kapitala su akcije i obveznice. Zajednički ih nazivamo hartijama od vrednosti. Nisu baš od hartije, već se samo tako kaže, jer su – nekad bile od hartije. Danas, kao i mnoge druge stvari, nemaju materijalni oblik, već pretežno elektronski.</p>
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
            No.
          </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Naziv
          </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
            Vrednost
          </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- assetType Column -->
        <ng-container matColumnDef="assetType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by assetType">
            Tip hartije
          </th>
          <td mat-cell *matCellDef="let element"> {{element.assetType}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </mat-card-content>
  </mat-card>
</section>