.container {
    display: flex;
    padding-top: 100px;
    background-image: url('src/assets/landingBackground.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left {
    margin-top: 90px;
    margin-left: 90px;
    flex: 1;
    margin-right: 210px;
}

.right {
    flex: 1;
    margin-top: 30px;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    margin-top: 30px;
    display: block;
    margin: 0px auto;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    color: #171717;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

p {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 22px;
    color: #efeef3;
    margin-left: auto;
    text-align: center;
    margin-right: 40px;
}

.line {
    max-width: 750px;
    display: block;
    margin: 0px auto;
}

.divButton {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-right: 40px;
}