.container {
    display: flex;
    padding-bottom: 400px;
    padding-top: 100px;
    background-color: #efeef3;
    background-image: url('src/assets/background.png');
}

.left {
    margin-top: 90px;
    margin-left: 90px;
    flex: 1;
    margin-right: 210px;
}

.right {
    flex: 1;
    margin-top: 30px;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    margin-top: 30px;
    display: block;
    margin: 0px auto;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    color: #171717;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

p {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 22px;
    color: #efeef3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.line {
    max-width: 750px;
    display: block;
    margin: 0px auto;
    margin-bottom: 90px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.buttons {
    align-items: center;
    background-clip: padding-box;
    background-color: #311B92;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 160px;
}

.buttons:hover {
    background-color: #B39DDB;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-1px);
}

.buttons:active {
    background-color: #9575CD;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}