<div class="container">

    <div class="left">
        <img src="../favicon.ico" alt="Logo" class="logo">
        <h1>DOBRODOŠLI U BANKU 2!</h1>
        <img src="../assets/yellowLine.PNG" class="line">
    </div>

    <div class="right">
        <p>Prijavite se:</p>
        <div class="divButton"><button mat-raised-button class="buttons" (click)="redirectToLogin()">Login</button>
        </div>
        <p>Ako nemate kreiran profil:</p>
        <div class="divButton"><button mat-raised-button class="buttons" (click)="redirectToCreateBankProfile()">Kreiraj
                profil</button></div>
    </div>

</div>