<section class="container">
  <form class="form-inputs" [formGroup]="domesticBankAccountForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Broj računa</mat-label>
      <input matInput placeholder="Unesite broj računa" formControlName="accountNumber" appBankAccountMask required>
      <mat-error *ngIf="domesticBankAccountForm.get('accountNumber')?.hasError('required')">Broj računa je
        obavezan</mat-error>
      <mat-error *ngIf="domesticBankAccountForm.get('accountNumber')?.hasError('invalidBankAccountNumber')">Pogrešan
        format računa</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Unesite e-mail adresu" formControlName="email" required>
      <mat-error *ngIf="domesticBankAccountForm.get('email')?.hasError('required')">Email je obavezan</mat-error>
      <mat-error *ngIf="domesticBankAccountForm.get('email')?.hasError('invalidEmail')">Pogrešan format
        Email-a</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Valuta</mat-label>
      <mat-select formControlName="currencyCode" placeholder="Izaberite valutu">
        <mat-option *ngFor="let option of currencyOptions" [value]="option.value">{{ option.label }}</mat-option>
      </mat-select>
      <mat-error *ngIf="domesticBankAccountForm.get('currencyCode')?.hasError('required')">Valuta je
        obavezna</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tip</mat-label>
      <mat-select formControlName="domesticCurrencyAccountType" placeholder="Izaberite tip">
        <mat-option *ngFor="let option of domesticCurrencyAccountTypeOptions" [value]="option.value">{{ option.label
          }}</mat-option>
      </mat-select>
      <mat-error *ngIf="domesticBankAccountForm.get('domesticCurrencyAccountType')?.hasError('required')">Tip je
        obavezan</mat-error>
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button color="accent" type="submit">Kreiraj</button>
    </div>
  </form>
</section>