<mat-toolbar class="navbar mat-elevation-z2" color="primary">
    <a mat-button routerLink="/home" class="icon">
        <img ngSrc="../../../assets/logo/bank-2-logo.svg" alt="Icon" height="40" width="40">
    </a>
    <!-- <a mat-button routerLink="/paper-stocks">Paper Stocks</a> -->

    <div class="padding"></div>
    <a *ngIf="checkTokenRole([Role.ADMIN])" mat-button routerLink="/users">Users</a>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/user-profile">
            <mat-icon>person</mat-icon>
            <span>User Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>
