<section class="container">
  <mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>
        <div class="title">
          <h2>
            {{
            privateClient
            ? privateClient.name
            : corporateClient
            ? corporateClient.name
            : "Nepoznati korisnik"
            }}
          </h2>
          <img src="../../../assets/logo/bank-2-logo.svg" alt="Icon" height="64" width="64"
            style="border-radius: 50%" />
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <table>
        <tbody>
          <tr>
            <td><b>Username:</b></td>
            <td>{{ user?.username }}</td>
          </tr>
          <tr>
            <td><b>Email:</b></td>
            <td>{{ user?.email }}</td>
          </tr>
          <tr>
            <td><b>Telefon:</b></td>
            <td>{{ user?.phone }}</td>
          </tr>
          <tr>
            <td><b>Adresa:</b></td>
            <td>{{ user?.address }}</td>
          </tr>
          <tr>
            <td><b>Datum rođenja:</b></td>
            <td>{{ user?.dateOfBirth }}</td>
          </tr>
          <tr>
            <td><b>Uloga:</b></td>
            <td>{{ user?.role }}</td>
          </tr>
          <tr>
            <td><b>Dozvole:</b></td>
            <td>{{ user?.permissions?.join(", ") }}</td>
          </tr>
          <!-- <tr>
            <td><b>Aktivan:</b></td>
            <td>{{ user?.active ? "Da" : "Ne" }}</td>
          </tr> -->

          <tr *ngIf="privateClient">
            <td><b>Ime:</b></td>
            <td>{{ privateClient.name }}</td>
          </tr>
          <tr *ngIf="privateClient">
            <td><b>Prezime:</b></td>
            <td>{{ privateClient.surname }}</td>
          </tr>
          <tr *ngIf="privateClient">
            <td><b>Pol:</b></td>
            <td>{{ privateClient.gender }}</td>
          </tr>
          <tr *ngIf="privateClient">
            <td><b>Primarni broj računa:</b></td>
            <td>{{ privateClient.primaryAccountNumber }}</td>
          </tr>

          <tr *ngIf="corporateClient">
            <td><b>Naziv kompanije:</b></td>
            <td>{{ corporateClient.name }}</td>
          </tr>
          <tr *ngIf="corporateClient">
            <td><b>Primarni broj računa:</b></td>
            <td>{{ corporateClient.primaryAccountNumber }}</td>
          </tr>
        </tbody>
      </table>

      <button mat-raised-button (click)="openPasswordChangeDialog()">Promeni šifru</button>
    </mat-card-content>
  </mat-card>
</section>