<h2 mat-dialog-title>
	Informacije
</h2>
<mat-dialog-content class="mat-typography size">
	<div *ngIf="!isLoading" class="full-width-grid">
		<div class="info-row">
			<span class="label">companyName:</span>
			<span>{{ this.newSelectedRow.companyName }}</span>
		</div>
		<div class="info-row">
			<span class="label">faxNumber:</span>
			<span>{{ this.newSelectedRow.faxNumber }}</span>
		</div>
		<div class="info-row">
			<span class="label">phoneNumber:</span>
			<span>{{ this.newSelectedRow.phoneNumber }}</span>
		</div>
		<div class="info-row">
			<span class="label">pib:</span>
			<span>{{ this.newSelectedRow.pib }}</span>
		</div>
		<div class="info-row">
			<span class="label">registryNumber:</span>
			<span>{{ this.newSelectedRow.registryNumber }}</span>
		</div>
		<div class="info-row">
			<span class="label">identificationNumber:</span>
			<span>{{ this.newSelectedRow.identificationNumber }}</span>
		</div>
		<div class="info-row">
			<span class="label">activityCode:</span>
			<span>{{ this.newSelectedRow.activityCode }}</span>
		</div>
		<div class="info-row">
			<span class="label">address:</span>
			<span>{{ this.newSelectedRow.address }}</span>
		</div>
	</div>

	<div *ngIf="isLoading" class="spinner-container">
		<mat-progress-spinner diameter="50" mode="indeterminate"></mat-progress-spinner>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-raised-button mat-dialog-close color="warn">
		Zatvori
	</button>
</mat-dialog-actions>