<h2 mat-dialog-title>Stock Information</h2>
<div mat-dialog-content>
	<p><strong>ID:</strong> {{ data.id }}</p>
	<p><strong>companyName:</strong> {{ data.companyName }}</p>
	<p><strong>faxNumber:</strong> {{ data.faxNumber }}</p>
	<p><strong>phoneNumber:</strong> {{ data.phoneNumber }}</p>
	<p><strong>pib:</strong> {{ data.pib }}</p>
	<p><strong>registryNumber:</strong> {{ data.registryNumber }}</p>
	<p><strong>identificationNumber:</strong> {{ data.identificationNumber }}</p>
	<p><strong>activityCode:</strong> {{ data.activityCode }}</p>
	<p><strong>address:</strong> {{ data.address }}</p>
	<mat-dialog-actions align="end">
		<button mat-raised-button mat-dialog-close color="warn">
			Zatvori
		</button>
	</mat-dialog-actions>
</div>