<h2 mat-dialog-title>Informacije</h2>
<mat-dialog-content class="mat-typography size">
	<div
		*ngIf="!isLoading"
		class="full-width-grid"
	>
		<div class="info-row">
			<span class="label">Ime kompanije:</span>
			<span>{{ newSelectedRow.companyName }}</span>
		</div>
		<div class="info-row">
			<span class="label">Broj faksa:</span>
			<span>{{ newSelectedRow.faxNumber }}</span>
		</div>
		<div class="info-row">
			<span class="label">Broj telefona:</span>
			<span>{{ newSelectedRow.phoneNumber }}</span>
		</div>
		<div class="info-row">
			<span class="label">PIB:</span>
			<span>{{ newSelectedRow.pib }}</span>
		</div>
		<div class="info-row">
			<span class="label">Registarski broj:</span>
			<span>{{ newSelectedRow.registryNumber }}</span>
		</div>
		<div class="info-row">
			<span class="label">Matični broj:</span>
			<span>{{ newSelectedRow.identificationNumber }}</span>
		</div>
		<div class="info-row">
			<span class="label">Šifra delatnosti:</span>
			<span>{{ newSelectedRow.activityCode }}</span>
		</div>
		<div class="info-row">
			<span class="label">Adresa:</span>
			<span>{{ newSelectedRow.address }}</span>
		</div>
	</div>

	<div
		*ngIf="isLoading"
		class="spinner-container"
	>
		<mat-progress-spinner
			diameter="50"
			mode="indeterminate"
		></mat-progress-spinner>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button
		mat-raised-button
		mat-dialog-close
		(click)="redirectToCompanyEmployees()"
		color="accent"
	>
		Zaposleni
	</button>
	<button
		mat-raised-button
		mat-dialog-close
		color="warn"
	>
		Zatvori
	</button>
</mat-dialog-actions>
