.form-inputs {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 20vw;
	margin-bottom: 20px;
	margin-top: 20px;
}

.buttons {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.response-message {
    margin-top: 10px;
    font-weight: bold;
    color: green;
  }
  