<h2 mat-dialog-title>Informacije o opciji</h2>
<mat-dialog-content class="mat-typography size">
	<div class="full-width">
		<div class="info-row">
			<span class="label">Listing: </span>
			<span>{{ data.stockListing ? data.stockListing : '-' }}</span>
		</div>
		<div class="info-row">
			<span class="label">Tip opcije: </span>
			<span>{{ data.optionType ? data.optionType : '-' }}</span>
		</div>
		<div class="info-row">
			<span class="label">Izvršna cena: </span>
			<span>{{ data.strikePrice ? data.strikePrice : '-' }}</span>
		</div>
		<div class="info-row">
			<span class="label">Nestabilnost cene: </span>
			<span>{{
				data.impliedVolatility ? data.impliedVolatility : '-'
			}}</span>
		</div>
		<div class="info-row">
			<span class="label">Broj otvorenih opcija: </span>
			<span>{{ data.openInterest ? data.openInterest : '-' }}</span>
		</div>
		<div class="info-row">
			<span class="label">Datum isticanja opcije: </span>
			<span>
				{{
					data.settlementDate
						? (data.settlementDate
							| epochToDate
							| date: 'dd.MM.yyyy.')
						: '-'
				}}</span
			>
		</div>
	</div>

	<div>
		<form [formGroup]="form">
			<mat-form-field appearance="fill">
				<mat-label>Količina za kupovinu opcija sa berze</mat-label>
				<input
					matInput
					placeholder="Unesi količinu"
					formControlName="quantity"
				/>
				<mat-error *ngIf="form.get('quantity')?.hasError('required')">
					Količina je obavezna.
				</mat-error>
				<mat-error
					*ngIf="form.get('quantity')?.hasError('containsNonDigits')"
				>
					Pogrešan format za količinu - podržane su samo cifre.
				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Limit cena</mat-label>
				<input
					matInput
					placeholder="Unesi limit"
					formControlName="limitPrice"
				/>
				<mat-error *ngIf="form.get('limitPrice')?.hasError('required')">
					Limit je obavezan.
				</mat-error>
				<mat-error
					*ngIf="
						form.get('limitPrice')?.hasError('containsNonDigits')
					"
				>
					Pogrešan format za limit - podržane su samo cifre.
				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Stop cena</mat-label>
				<input
					matInput
					placeholder="Unesi stop cenu"
					formControlName="stopPrice"
				/>
				<mat-error *ngIf="form.get('stopPrice')?.hasError('required')">
					Stop cena je obavezna.
				</mat-error>
				<mat-error
					*ngIf="form.get('stopPrice')?.hasError('containsNonDigits')"
				>
					Pogrešan format za stop cenu - podržane su samo cifre.
				</mat-error>
			</mat-form-field>

			<mat-checkbox formControlName="allOrNone"
				>Kupi sve odjednom</mat-checkbox
			>
		</form>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button
		mat-raised-button
		mat-dialog-close
		color="accent"
		type="submit"
		[disabled]="!form.valid"
		(click)="createOrder()"
	>
		Kupi
	</button>
	<button
		mat-raised-button
		mat-dialog-close
		color="warn"
	>
		Zatvori
	</button>
</mat-dialog-actions>
