<app-navigation-menu></app-navigation-menu>

<div class="user-panel-container">
  <h1>User Panel</h1>

  <!-- Table for users data-->
  <table [dataSource]="users" class="mat-elevation-z8" mat-table>
    <!-- ID column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>ID</th>
      <td *matCellDef="let user" mat-cell>{{user.id}}</td>
    </ng-container>

    <!-- Name column -->
    <ng-container matColumnDef="firstName">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let user" mat-cell>{{user.firstName}}</td>
    </ng-container>

    <!-- Lastname column -->
    <ng-container matColumnDef="lastName">
      <th *matHeaderCellDef mat-header-cell>Lastname</th>
      <td *matCellDef="let user" mat-cell>{{user.lastName}}</td>
    </ng-container>

    <!-- Email column -->
    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell>Email</th>
      <td *matCellDef="let user" mat-cell>{{user.email}}</td>
    </ng-container>

    <!-- Change password column-->
    <ng-container matColumnDef="changePassword">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let user" mat-cell>
        <button (click)="showChangePasswordForm(user)" mat-button>Change password</button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <!-- Change password form-->
  <div *ngIf="showPasswordForm" class="password-form">
    <mat-form-field>
      <input [(ngModel)]="newPassword" matInput placeholder="New password" type="password">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="confirmPassword" matInput placeholder="Confirm password" type="password">
    </mat-form-field>
    <button (click)="changePassword()" color="primary" mat-button>Confirm</button>
  </div>
</div>
