<section class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <div class="title">
          <h2>Admin Adminovic</h2>
          <img ngSrc="../../../assets/logo/bank-2-logo.svg" alt="Icon" height="64" width="64" border-radius="50%">
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <table>
        <tbody>
          <tr>
            <td>&nbsp;<b>Informacije</b></td>
            <td>&nbsp;</td>
          </tr>
          <br>
          <tr>
            <td>&nbsp;Limit</td>
            <td>&nbsp;JMBG</td>
          </tr>
          <tr>
            <td>&nbsp;10000</td>
            <td>&nbsp;040399392094</td>
          </tr>
          <br>
          <tr>
            <td>&nbsp;<b>Kontakt</b></td>
            <td>&nbsp;</td>
          </tr>
          <br>
          <tr>
            <td>&nbsp;Broj telefona</td>
            <td>&nbsp;Email</td>
          </tr>
          <tr>
            <td>&nbsp;06632345253</td>
            <td>&nbsp;admin@gmail.com</td>
          </tr>
          <br>
          <br>
          <tr>
            <td>
            </td>
            <td>
              <button mat-raised-button>Promeni šifru</button>
            </td>
          </tr>
        </tbody>
      </table>



    </mat-card-content>
  </mat-card>
</section>