<section class="container">
  <mat-card>
    <mat-card-header>
      <div class="form">
        <div>
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input #input (keyup)="applyFilter($event)" matInput />
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          class="buttons"
          color="accent"
          [disabled]="selectedRowRole() != 'EMPLOYEE'"
          (click)="
            selectedRow?.active ? deactivateEmployee() : activateEmployee()
          "
        >
          {{
            selectedRow?.active
              ? "Deaktiviraj zaposlenog"
              : "Aktiviraj zaposlenog"
          }}
        </button>
        <button
          mat-raised-button
          (click)="updateUser()"
          class="buttons"
          color="accent"
          [disabled]="!selectedRow || selectedRowRole() == 'ADMIN'"
        >
          Izmeni korisnika
        </button>
        <button
          mat-raised-button
          (click)="deleteUser()"
          class="buttons"
          color="warn"
          [disabled]="!selectedRow || selectedRowRole() == 'ADMIN'"
        >
          Izbriši korisnika
        </button>

        <button
          mat-raised-button
          class="buttons"
          color="primary"
          (click)="addUser()"
        >
          Dodaj zaposlenog
        </button>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div class="tableContainer">
        <div class="mat-elevation-z8" style="box-shadow: none">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>
              <td *matCellDef="let row" mat-cell>{{ row.id }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                Email adresa
              </th>
              <td *matCellDef="let row" mat-cell>{{ row.email }}</td>
            </ng-container>

            <ng-container matColumnDef="username">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                Korisničko ime
              </th>
              <td *matCellDef="let row" mat-cell>{{ row.username }}</td>
            </ng-container>

            <ng-container matColumnDef="dateOfBirth">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                Datum rođenja
              </th>
              <td *matCellDef="let row" mat-cell>
                {{
                  row.dateOfBirth
                    ? (row.dateOfBirth | epochToDate | date : "dd.MM.yyyy")
                    : ""
                }}
              </td>
            </ng-container>

            <ng-container matColumnDef="phone">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                Broj telefona
              </th>
              <td *matCellDef="let row" mat-cell>{{ row.phone }}</td>
            </ng-container>

            <ng-container matColumnDef="address">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Adresa</th>
              <td *matCellDef="let row" mat-cell>{{ row.address }}</td>
            </ng-container>

            <ng-container matColumnDef="role">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Uloga</th>
              <td *matCellDef="let row" mat-cell>{{ row.role }}</td>
            </ng-container>

            <ng-container matColumnDef="active">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                Aktivan?
              </th>
              <td *matCellDef="let row" mat-cell>{{ row.active }}</td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr
              mat-row
              (click)="selectRow(row)"
              [class.row-selected]="this.selectedRow?.id === row.id"
              *matRowDef="let row; columns: displayedColumns"
            ></tr>

            <tr *matNoDataRow class="mat-row">
              <td class="mat-cell" colspan="4">
                Nije pronađen podatak za unetu vrednost: "{{ input.value }}"
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="paginatorContainer">
        <mat-paginator [hidePageSize]="true" [pageSize]="10"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</section>
