<h2 mat-dialog-title>Informacije</h2>
<mat-dialog-content class="mat-typography size">
	<div
		*ngIf="!isLoading"
		class="full-width-grid"
	>
		<div class="info-row">
			<span class="label">Simbol:</span>
			<span>{{
				newSelectedRow.symbol ? newSelectedRow.symbol : '-'
			}}</span>
		</div>
		<div class="info-row">
			<span class="label">Opis:</span>
			<span>{{
				newSelectedRow.description ? newSelectedRow.description : '-'
			}}</span>
		</div>
		<div class="info-row">
			<span class="label">Berza</span>
			<span>{{
				newSelectedRow.exchange ? newSelectedRow.exchange : '-'
			}}</span>
		</div>
		<div class="info-row">
			<span class="label">Poslednje ažuriranje:</span>
			{{
				newSelectedRow.lastRefresh
					? (newSelectedRow.lastRefresh
						| epochToDate
						| date: 'dd.MM.yyyy.')
					: '-'
			}}
		</div>
		<div class="info-row">
			<span class="label">Cena:</span>
			<span>{{ newSelectedRow.price ? newSelectedRow.price : '-' }}</span>
		</div>
		<div class="info-row">
			<span class="label">Najniža prodavna cena:</span>
			<span>{{ newSelectedRow.high ? newSelectedRow.high : '-' }}</span>
		</div>
		<div class="info-row">
			<span class="label">Najviša kupovna cena:</span>
			<span>{{ newSelectedRow.low ? newSelectedRow.low : '-' }}</span>
		</div>
		<div class="info-row">
			<span class="label">Dnevna razlika u cenama:</span>
			<span>{{
				newSelectedRow.change ? newSelectedRow.change : '-'
			}}</span>
		</div>
		<div class="info-row">
			<span class="label">Broj dnevno razmenjenih hartija:</span>
			<span>{{
				newSelectedRow.volume ? newSelectedRow.volume : '-'
			}}</span>
		</div>
		<div class="info-row">
			<span class="label">Bazna valuta:</span>
			<span>{{
				newSelectedRow.baseCurrency ? newSelectedRow.baseCurrency : '-'
			}}</span>
		</div>
		<div class="info-row">
			<span class="label">Kvotna valuta:</span>
			<span>{{
				newSelectedRow.quoteCurrency
					? newSelectedRow.quoteCurrency
					: '-'
			}}</span>
		</div>
	</div>
	<div
		*ngIf="isLoading"
		class="spinner-container"
	>
		<mat-progress-spinner
			diameter="50"
			mode="indeterminate"
		></mat-progress-spinner>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="sell()">Prodaj berzi</button>
	<button mat-raised-button color="primary" (click)="post()">Postavi za javno trgovanje</button>
	<button
		mat-raised-button
		mat-dialog-close
		color="warn"
	>
		Zatvori
	</button>
</mat-dialog-actions>
