<h2 mat-dialog-title>
	Filtriraj
</h2>
<mat-dialog-content class="mat-typography size">
	<div class="inputs">
		<div class="single-input">
			<label>Cena</label>
			<mat-slider min="0" max="100" step="1" [displayWith]="formatLabel" discrete>
				<input matSliderStartThumb [(ngModel)]="priceRangeStart">
				<input matSliderEndThumb [(ngModel)]="priceRangeEnd">
			</mat-slider>
		</div>
		<div class="single-input">
			<label>Marža za održavanje</label>
			<mat-slider min="0" max="100" step="1" [displayWith]="formatLabel" discrete>
				<input matSliderStartThumb [(ngModel)]="maintenanceMarginStart">
				<input matSliderEndThumb [(ngModel)]="maintenanceMarginEnd">
			</mat-slider>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-raised-button color="warn" mat-dialog-close>Zatvori</button>
	<button mat-raised-button color="accent" (click)="applyFilters()">Primeni</button>
</mat-dialog-actions>
