<h2 mat-dialog-title>Informacije o korisniku</h2>
<mat-dialog-content class="mat-typography size">
	<div
		*ngIf="!isLoading"
		class="full-width"
	>
		<div class="info-row">
			<span class="label">ID:</span>
			<span>{{ newSelectedRow.id ? newSelectedRow.id : '-' }}</span>
		</div>
		<div class="info-row">
			<span class="label">Email:</span>
			<span>{{ newSelectedRow.email ? newSelectedRow.email : '-' }}</span>
		</div>
		<div class="info-row">
			<span class="label">Datum rođenja:</span>
			<span>
				{{
					newSelectedRow.dateOfBirth
						? (newSelectedRow.dateOfBirth
							| epochToDate
							| date: 'dd.MM.yyyy.')
						: '-'
				}}
			</span>
		</div>
		<div class="info-row">
			<span class="label">Broj telefona:</span>
			<span>{{ newSelectedRow.phone ? newSelectedRow.phone : '-' }}</span>
		</div>
		<div class="info-row">
			<span class="label">Adresa:</span>
			<span>{{
				newSelectedRow.address ? newSelectedRow.address : '-'
			}}</span>
		</div>

		<div
			*ngIf="
				checkDto() === 'PRIVATE' ||
				checkDto() === 'CORPORATE' ||
				checkDto() === 'EMPLOYEE'
			"
			class="info-row"
		>
			<span class="label">Ime:</span>
			<span>{{ newSelectedRow.name ? newSelectedRow.name : '-' }}</span>
		</div>
		<div
			*ngIf="checkDto() === 'PRIVATE' || checkDto() === 'EMPLOYEE'"
			class="info-row"
		>
			<span class="label">Prezime:</span>
			<span>{{
				newSelectedRow.surname ? newSelectedRow.surname : '-'
			}}</span>
		</div>
		<div
			*ngIf="checkDto() === 'PRIVATE' || checkDto() === 'EMPLOYEE'"
			class="info-row"
		>
			<span class="label">Pol:</span>
			<span>{{
				newSelectedRow.gender ? newSelectedRow.gender : '-'
			}}</span>
		</div>
		<div
			*ngIf="checkDto() === 'EMPLOYEE'"
			class="info-row"
		>
			<span class="label">Pozicija:</span>
			<span>{{
				newSelectedRow.position ? newSelectedRow.position : '-'
			}}</span>
		</div>
		<div
			*ngIf="checkDto() === 'EMPLOYEE'"
			class="info-row"
		>
			<span class="label">Odeljenje:</span>
			<span>{{
				newSelectedRow.department ? newSelectedRow.department : '-'
			}}</span>
		</div>
		<div
			*ngIf="checkDto() === 'EMPLOYEE'"
			class="info-row"
		>
			<span class="label">{{
				newSelectedRow.active ? 'Aktivan' : 'Neaktivan'
			}}</span>
		</div>

		<div
			*ngIf="checkDto() === 'AGENT'"
			class="info-row"
		>
			<span class="label">Limit:</span>
			<span>{{
				newSelectedRow.userLimit ? newSelectedRow.userLimit : '-'
			}}</span>
		</div>
		<div
			*ngIf="checkDto() === 'AGENT'"
			class="info-row"
		>
			<span class="label">Neiskorišćeni limit:</span>
			<span>{{
				newSelectedRow.leftOfLimit ? newSelectedRow.leftOfLimit : '-'
			}}</span>
		</div>
	</div>

	<div
		*ngIf="isLoading"
		class="spinner-container"
	>
		<mat-progress-spinner
			diameter="50"
			mode="indeterminate"
		></mat-progress-spinner>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button
		mat-raised-button
		mat-dialog-close
		color="warn"
	>
		Zatvori
	</button>

	<button
		*ngIf="canResetAndGetLimit()"
		mat-raised-button
		color="primary"
		(click)="resetLimit()"
	>
		Resetuj limit
	</button>
</mat-dialog-actions>
