<h2 mat-dialog-title>Informacije o korisniku</h2>
<mat-dialog-content class="mat-typography size">
	<div
		*ngIf="!isLoading"
		class="full-width"
	>
		<div class="info-row">
			<span class="label">Datum rođenja:</span>
			<span>{{
				newSelectedRow.dateOfBirth !== '-'
					? (newSelectedRow.dateOfBirth | date: 'dd/MM/yyyy')
					: '-'
			}}</span>
		</div>

		<div class="info-row">
			<span class="label">Broj telefona:</span>
			<span>{{ this.newSelectedRow.phone }}</span>
		</div>
		<div class="info-row">
			<span class="label">Adresa:</span>
			<span>{{ this.newSelectedRow.address }}</span>
		</div>
		<div
			*ngIf="
				checkDto() === 'PRIVATE' ||
				checkDto() === 'CORPORATE' ||
				checkDto() === 'EMPLOYEE'
			"
			class="info-row"
		>
			<span class="label">Ime:</span>
			<span>{{ this.newSelectedRow.name }}</span>
		</div>
		<div
			*ngIf="checkDto() === 'PRIVATE' || checkDto() === 'EMPLOYEE'"
			class="info-row"
		>
			<span class="label">Prezime:</span>
			<span>{{ this.newSelectedRow.surname }}</span>
		</div>
		<div
			*ngIf="checkDto() === 'PRIVATE' || checkDto() === 'EMPLOYEE'"
			class="info-row"
		>
			<span class="label">Pol:</span>
			<span>{{ this.newSelectedRow.gender }}</span>
		</div>
		<div
			*ngIf="checkDto() === 'EMPLOYEE'"
			class="info-row"
		>
			<span class="label">Pozicija:</span>
			<span>{{ this.newSelectedRow.position }}</span>
		</div>
		<div
			*ngIf="checkDto() === 'EMPLOYEE'"
			class="info-row"
		>
			<span class="label">Odeljenje:</span>
			<span>{{ this.newSelectedRow.department }}</span>
		</div>

		<div
			*ngIf="canResetAndGetLimit()"
			class="info-row"
		>
			<span class="label">Limit:</span>
			<span>{{ agentLimit }}</span>
		</div>
	</div>

	<div
		*ngIf="isLoading"
		class="spinner-container"
	>
		<mat-progress-spinner
			diameter="50"
			mode="indeterminate"
		></mat-progress-spinner>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button
		mat-raised-button
		mat-dialog-close
		color="warn"
	>
		Zatvori
	</button>

	<button
		*ngIf="canResetAndGetLimit()"
		mat-raised-button
		color="primary"
		(click)="resetLimit()"
	>
		Resetuj limit
	</button>
</mat-dialog-actions>
