<section class="container">
	<mat-card class="parent-card">
		<mat-card-header>
			<mat-card-title>Podešavanje kartica</mat-card-title>
		</mat-card-header>
		<mat-card-content class="card-container">
			<div class="form-inputs">
				<mat-tab-group>
					<mat-tab
						*ngFor="let option of cardOptions"
						[label]="option.label"
					>
						<div class="tab-content">
							<app-creation-form
								*ngIf="option.value === 'IZRADA NOVE KARTICE'"
								[cardTypeOptions]="cardTypeOptions"
							></app-creation-form>
							<app-change-status-form
								*ngIf="option.value === 'PROMENA STATUSA'"
							></app-change-status-form>
							<app-change-block-form
							*ngIf="option.value === 'PROMENA BLOK STATUSA'"
							>
							</app-change-block-form>
							<app-change-limit-form
								*ngIf="option.value === 'PROMENA LIMITA'"
							></app-change-limit-form>
						</div>
					</mat-tab>
				</mat-tab-group>
			</div>
		</mat-card-content>
	</mat-card>
</section>
