<section class="container">
	<form
		class="form-inputs"
		[formGroup]="transactionForm"
		(ngSubmit)="onSubmit()"
	>
		<mat-form-field>
			<mat-label>Broj računa za uplatu</mat-label>
			<mat-select
				formControlName="senderAccountNumber"
				placeholder="Izaberite račun"
			>
				<mat-option
					*ngFor="let option of accountOptionsSender"
					[value]="option.accountNumber"
				>
					{{ option.accountNumber | accountNumberFormat }}
				</mat-option>
			</mat-select>
			<mat-error
				*ngIf="
					transactionForm
						.get('senderAccountNumber')
						?.hasError('required')
				"
			>
				Broj računa za uplatu je obavezan.
			</mat-error>
		</mat-form-field>

		<div class="unselectable">
			<p *ngIf="availableBalanceFromAcc > -1">
				Stanje vašeg računa za uplatu:
				{{ availableBalanceFromAcc }}
				{{ currencyCodeFromAcc }}
			</p>
			<p *ngIf="availableBalanceFromAcc === -1">
				Stanje vašeg računa za uplatu: -
			</p>
		</div>

		<mat-form-field>
			<mat-label>Broj računa za prijem</mat-label>
			<mat-select
				formControlName="receiverAccountNumber"
				placeholder="Izaberite račun"
			>
				<mat-option
					*ngFor="let option of accountOptionsReciever"
					[value]="option.accountNumber"
				>
					{{ option.accountNumber | accountNumberFormat }}
				</mat-option>
			</mat-select>
			<mat-error
				*ngIf="
					transactionForm
						.get('receiverAccountNumber')
						?.hasError('required')
				"
			>
				Broj računa za prijem je obavezan.
			</mat-error>
		</mat-form-field>

		<div class="unselectable">
			<p *ngIf="availableBalanceToAcc > -1">
				Stanje vašeg računa za prijem:
				{{ availableBalanceToAcc }}
				{{ currencyCodeToAcc }}
			</p>
			<p *ngIf="availableBalanceToAcc === -1">
				Stanje vašeg računa za prijem: -
			</p>
		</div>

		<mat-form-field>
			<mat-label>Količina</mat-label>
			<input
				matInput
				placeholder="Unesite količinu"
				formControlName="amount"
				type="text"
			/>
			<mat-error
				*ngIf="transactionForm.get('amount')?.hasError('required')"
			>
				Količina je obavezna.
			</mat-error>
			<mat-error
				*ngIf="
					transactionForm.get('amount')?.hasError('containsNonDigits')
				"
			>
				Pogrešan format za količinu novca.
			</mat-error>
		</mat-form-field>

		<div class="buttons">
			<button
				mat-raised-button
				color="accent"
				type="submit"
			>
				Pošalji
			</button>
		</div>
	</form>
</section>
