<section class="container">
	<form class="form-inputs" [formGroup]="transactionForm" (ngSubmit)="onSubmit()">

		<mat-form-field>
			<mat-label>
                Račun 
            </mat-label>
            <mat-select formControlName="senderAccountNumber" placeholder="Izaberite račun" >
			  <mat-option *ngFor="let option of accountOptionsSender" [value]="option.accountNumber" >
				{{ option.accountNumber | accountNumberFormat }}
			  </mat-option>
			</mat-select>
			<mat-error *ngIf="transactionForm.get('senderAccountNumber')?.hasError('required')">
				Broj računa je obavezan.
			</mat-error>
        </mat-form-field>

       
		<p *ngIf = " accountBalance > -1" >
			{{accountBalance}}
		</p>
		<p *ngIf = " accountBalance == -1" >
			Balance vaseg racuna
		</p>
<!-- 	
		  
        <mat-form-field>
			<mat-label>
				Broj računa primaoca
			</mat-label>
			<input matInput placeholder="Unesite broj računa" formControlName="receiverAccountNumber" appBankAccountMask
				required>
			<mat-error *ngIf="transactionForm.get('receiverAccountNumber')?.hasError('required')">
				Broj računa je obavezan.
			</mat-error>
			<mat-error *ngIf="transactionForm.get('receiverAccountNumber')?.hasError('invalidBankAccountNumber')">
				Pogrešan format računa.
			</mat-error>
		</mat-form-field> -->

        
		<mat-form-field>
			<mat-label>
                Račun primaoca
            </mat-label>
            <mat-select formControlName="receiverAccountNumber" placeholder="Izaberite račun" >
			  <mat-option *ngFor="let option of accountOptionsReciver" [value]="option.accountNumber" >
				{{ option.accountNumber | accountNumberFormat }}
			  </mat-option>
			</mat-select>
			<mat-error *ngIf="transactionForm.get('receiverAccountNumber')?.hasError('required')">
				Broj računa je obavezan.
			</mat-error>
        </mat-form-field>

		<mat-form-field>
			<mat-label>Količina</mat-label>
			<input matInput placeholder="Unesite količinu" formControlName="amount" type="text" >
			<mat-error *ngIf="transactionForm.get('amount')?.hasError('required')">
			  Količina je obavezna
			</mat-error>
		  </mat-form-field>


		<div class="buttons">
			<button mat-raised-button color="accent" type="submit">
				Napravi
			</button>
		</div>
	</form>
</section>