<section class="container">
	<form
		class="form-inputs"
		[formGroup]="transactionForm"
		(ngSubmit)="onSubmit()"
	>
		<mat-form-field>
			<mat-label> Broj računa za uplatu </mat-label>
			<mat-select
				formControlName="senderAccountNumber"
				placeholder="Izaberite račun"
			>
				<mat-option
					*ngFor="let option of accountOptionsSender"
					[value]="option.accountNumber"
				>
					{{ option.accountNumber | accountNumberFormat }}
				</mat-option>
			</mat-select>
			<mat-error
				*ngIf="
					transactionForm
						.get('senderAccountNumber')
						?.hasError('required')
				"
			>
				Broj računa za uplatu je obavezan.
			</mat-error>
		</mat-form-field>

		<div class="unselectable">
			<p *ngIf="availableBalance > -1">
				Stanje vašeg računa: {{ availableBalance }} {{ currencyCode }}
			</p>
			<p *ngIf="availableBalance === -1">Stanje vašeg računa: -</p>
		</div>

		<mat-form-field>
			<mat-label> Broj računa za prijem </mat-label>
			<mat-select
				formControlName="receiverAccountNumber"
				placeholder="Izaberite račun"
			>
				<mat-option
					*ngFor="let option of accountOptionsReciver"
					[value]="option.accountNumber"
				>
					{{ option.accountNumber | accountNumberFormat }}
				</mat-option>
			</mat-select>
			<mat-error
				*ngIf="
					transactionForm
						.get('receiverAccountNumber')
						?.hasError('required')
				"
			>
				Broj računa za prijem je obavezan.
			</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Količina</mat-label>
			<input
				matInput
				placeholder="Unesite količinu"
				formControlName="amount"
				type="text"
			/>
			<mat-error
				*ngIf="transactionForm.get('amount')?.hasError('required')"
			>
				Količina je obavezna.
			</mat-error>
		</mat-form-field>

		<div class="buttons">
			<button
				mat-raised-button
				color="accent"
				type="submit"
			>
				Pošalji
			</button>
		</div>
	</form>
</section>
