<h2 mat-dialog-title>Nova ponuda</h2>
<mat-dialog-content class="mat-typography size">
	<div>
		<form [formGroup]="form">
			<mat-form-field appearance="fill">
				<mat-label>Simbol</mat-label>
				<input
					matInput
					placeholder="Unesi simbol"
					formControlName="ticker"
				/>
				<mat-error *ngIf="form.get('ticker')?.hasError('required')">
					Simbol je obavezan.
				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Količina</mat-label>
				<input
					matInput
					placeholder="Unesi količinu"
					formControlName="amount"
				/>
				<mat-error *ngIf="form.get('amount')?.hasError('required')">
					Količina je obavezna.
				</mat-error>
				<mat-error
					*ngIf="form.get('amount')?.hasError('invalidAmount')"
				>
					Unesena količina mora biti manja ili jednaka maksimalnoj
					količini: ({{ maxAmount }}).
				</mat-error>
				<mat-error
					*ngIf="form.get('amount')?.hasError('containsNonDigits')"
				>
					Pogrešan format za količinu - podržane su samo cifre.
				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Cena</mat-label>
				<input
					matInput
					placeholder="Unesi cenu"
					formControlName="price"
				/>
				<mat-error *ngIf="form.get('price')?.hasError('required')">
					Cena je obavezna.
				</mat-error>
				<mat-error
					*ngIf="form.get('price')?.hasError('containsNonDigits')"
				>
					Pogrešan format za cenu - podržane su samo cifre.
				</mat-error>
			</mat-form-field>
		</form>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button
		mat-raised-button
		mat-dialog-close
		color="accent"
		type="submit"
		[disabled]="!form.valid"
		(click)="createOrder()"
	>
		Pošalji
	</button>

	<button
		mat-raised-button
		mat-dialog-close
		color="warn"
	>
		Otkaži
	</button>
</mat-dialog-actions>
